#page-container {
  position: relative;
  left: 0;
  min-height: 100vh;
}

#content-wrap {
  left: 200px;
  padding-bottom: 2.5rem;    /* altura do rodapé */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* altura do rodapé */
}
hr{
    
  height: 3px;
  background-color: black;
  border: none;
}
.vertical-line {
  position: absolute;
  top: 155px;
  bottom: 1.9rem;
  
  transform: translate(180PX);
  width: 3px;
  background-color: black;

}
.horz{
  text-align: center;
  
}
.caixa {
  position: fixed;
  top: 56%; /* Posiciona a caixa verticalmente no meio da tela */
  left: 0; /* Fixa no lado esquerdo */
  transform: translateY(-50%); /* Centraliza a caixa verticalmente */
  
 

  padding: 22px;
 
  display: flex;
  flex-direction: column; /* Alinha os textos verticalmente */
  justify-content: space-between; /* Espaça os itens igualmente */
  height: 50%; /* Altura fixa da caixa */
  width: 100%; /* Largura fixa da caixa */
}
.caixa3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
   grid-gap: 10px;
  padding: 10px;
  max-width: 100%; 
  margin: 0 auto; 
}

.caixa3_img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}